<h1 class="title is-size-1-tablet is-size-4-mobile">McDonalds <%= store.locationName %></h1>
<h4 class="title is-size-4-tablet is-size-5-mobile address"><%= store.address %></h4>

<div class="columns">
  <div class="button-wrapper column is-3-desktop is-4-tablet">
    <div class="level">
      <div class="level-item">
          <a class="button is-warning feature-button" href="/stores/<%= store.id %>/reviews/new">Review this restaurant</a>
      </div>
    </div>
  </div>

  <div class="button-wrapper column is-3-desktop is-4-tablet">
    <div class="level">
      <div class="level-item">
        <a class="button is-info" href="/stores/<%= store.id %>/edit">Edit details</a>
      </div>
    </div>
  </div>

  <div class="button-wrapper column is-3-desktop is-4-tablet">
    <div class="level">
      <div class="level-item">
        <form action="/stores/<%= store.id %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button class="button is-dark enforce-center">Delete restaurant</button>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="container reviews-wrapper">
  <div class="columns is-multiline">
    <% store.reviews.forEach(review => { %>
      <div class="column is-10-desktop is-12-tablet">
        <a href="/stores/<%= store.id %>/reviews/<%= review.id %>">
        <div class="card">
          <div class="card-content">
            <div class="review-info">
              <h3>Reviewed by:<span class="user-name">
              <% if(review.user) {%>
                <%=review.user.username %>
              <%} else {%>
                Unknown user
              <%}
              %></span></h3>
              <p>Ambience: <%= review.ambienceRating %>/10</p>
              <p>Food Quality: <%= review.foodQualityRating %>/10</p>
              <p>Customer Service: <%= review.customerServiceRating %>/10</p>
            </div>
            <p><%= review.reviewText %></p>
          </div>
        </div>
        </a>
      </div>

    <% })
    %>
  </div>
</div>
