<% if (review.ambienceRating && review.customerServiceRating && review.foodQualityRating) {%>
  <h1 class="title is-1">Edit Review</h1>
  <form method="POST" action="/stores/<%= store.id %>/reviews/<%= review.id %>">
    <input type="hidden" name="_method" value="PUT">
<%} else {%>
  <h1 class="title is-1">Fix Review</h1>
  <form method="POST" action="/stores/<%= store.id %>/reviews">
<%}
%>

  <div class="field">
    <label class="label">Ambience Rating: </label>
    <div class="control">
      <select class="select" name="ambienceRating" required>
        <% for (let i = 0; i < 10; i++) {%>
          <option value="<%= i %>"
          <% if (review.ambienceRating === i) {%>
            selected
          <%}
          %>
          ><%= i %></option>
        <%}
        %>
      </select>
    </div>
  </div>

  <div class="field">
    <label class="label">Food Quality Rating: </label>
    <div class="control">
      <select class="select" name="foodQualityRating" required>
        <% for (let i = 0; i < 10; i++) {%>
          <option value="<%= i %>"
          <% if (review.foodQualityRating === i) {%>
            selected
          <%}
          %>
          ><%= i %></option>
        <%}
        %>
      </select>
    </div>
  </div>

  <div class="field">
    <label class="label">Customer Service Rating: </label>
    <div class="control">
      <select class="select" name="customerServiceRating" required>
        <% for (let i = 0; i < 10; i++) {%>
          <option value="<%= i %>"
          <% if (review.customerServiceRating === i) {%>
            selected
          <%}
          %>
          ><%= i %></option>
        <%}
        %>
      </select>
    </div>
  </div>

  <div class="field">
    <label class="label">Your Review: </label>
    <div class="control">
      <textarea class="textarea" name="reviewText" rows="8" cols="80"><%= review.reviewText %></textarea>
    </div>
  </div>
  <button class="button is-warning enforce-center">Update</button>
</form>
