
<h1 class="title is-size-2-tablet is-size-3-mobile">Review: <a href="/stores/<%=store.id%>">McDonald's <%=store.locationName %></a></h1>
<h2 class="title is-size-4-tablet is-size-5-mobile review-author">Reviewed by: <span class="review-username">
<% if (review.user) {%>
  <a href="#"><%=review.user.username %></a>
<%} else { %>
  Anonymous
<%}
%>
</span></h2>

<div class="columns">
  <div class="column">
    <div class="review-info">
      <p>Ambience Rating: <%= review.ambienceRating %></p>
      <p>Food Quality Rating: <%= review.foodQualityRating %></p>
      <p>Service Quality Rating: <%= review.customerServiceRating %></p>
    </div>
    <div class="review-text">
      <p><%= review.reviewText %></p>
    </div>

    <% if (review.user && locals.currentUser && locals.currentUser.id === review.user.id) {%>
      <div class="columns">
        <div class="column is-3-desktop is-4-tablet">
          <div class="level">
            <div class="level-item">
              <div class="button-wrapper">
                <a class="button is-warning" href="/stores/<%= store.id %>/reviews/<%= review.id %>/edit">Edit this review</a>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-3-desktop is-4-tablet">
          <div class="level">
            <div class="level-item">
              <div class="button-wrapper">
                <form method="POST" action="/stores/<%= store.id %>/reviews/<%= review.id %>">
                  <input type="hidden" name="_method" value="DELETE">
                  <button class="button is-dark enforce-center">Delete this review</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%}
    %>
  </div>
</div>

<h4 class="title is-4">Comments</h4>

<% if (review.comments && review.comments.length > 0) {
  review.comments.forEach(comment => { %>
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <img src="https://placebear.com/128/128">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong><a href="#"><%= comment.poster.username %></a></strong>
            <br>
            <%= comment.text %>
          </p>
        </div>
      </div>

      <% if (locals.isAuthenticated && (locals.currentUser.id === comment.poster.id || locals.currentUser.id === review.user.id)) {%>
        <div class="media-right">
          <form action="/stores/<%= store.id %>/reviews/<%= review.id %>/comments/<%= comment.id %>" method="POST">
            <input type="hidden" name="_method" value="DELETE"/>
            <button class="delete"></button>
          </form>
        </div>
      <%}%>

    </article>

  <% })
} else {%>
  <div class="level">
    <div class="level-left">
      <p>There are no comments to display yet.
      <% if (!locals.isAuthenticated) {%>
        <a href="/login"> Sign in</a> to be the first...
      <%}
      %>
      </p>
    </div>
  </div>
<%}
%>

<% if (locals.isAuthenticated) {%>

  <article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="http://bulma.io/images/placeholders/128x128.png">
    </p>
  </figure>
  <div class="media-content">
    <form  class="comment form" action="/stores/<%= store.id %>/reviews/<%= review.id %>/comments" method="POST">
      <div class="field">
        <p class="control">Commenting as <a href="#"><%= locals.currentUser.username %></a></p>
      </div>
      <div class="field">
        <p class="control">
          <textarea class="textarea" placeholder="Add a comment..." name="text"></textarea>
        </p>
      </div>
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <button class="button is-info enforce-center">Submit Comment</button>
          </div>
        </div>
      </nav>
    </form>

  </div>
  </article>
<%}
%>
