<h2>Review of <%=store.locationName %></h2>

<h4>Created by <%=review.user %></h4>

<p>Ambience Rating: <%= review.ambienceRating %></p>
<p>Food Quality Rating: <%= review.foodQualityRating %></p>
<p>Service Quality Rating: <%= review.customerServiceRating %></p>
<%= review.reviewText %>
